{% extends parent_template|default:"base.html" %}
{% load static %}

{% block content %}
    <div class="card border-success col-md-10 mx-md-auto mb-3 px-0">
        <h2 class="card-header bg-success text-white text-center">
            Pick an Object to Play the Game
        </h2>
        <div class="card-body">
            <h4 class="card-title text-success mt-3 mb-0">
                {% if objects|length == 0 %}
                    Sorry. No objects are ready yet.
                {% elif objects|length == 1 %}
                    Click the button below:
                {% else %}
                    Click one of the object previews below:
                {% endif %}
            </h4>
            <hr>
            <div class="card-text">
                {% for object in objects %}
                    <div class="row p-3">
                        <span class="col-md-3 px-0">
                            <img class="img-fluid px-0" src="{% static object.image_filename %}">
                        </span>
                        <div class="col-md-9 text-success text-center">
                            {% if object.stage == object.ONE %}
                                <h5>Descriptions are being collected for this object.</h5>
                                <p>This object has {{ object.description_count }}
                                    description{{ object.description_count|pluralize }} so far.</p>
                                <a class="btn btn-outline-success btn-lg"
                                   href="{% url 'whatsit:object_view' object.number %}">
                                    Add/Edit Description
                                </a>
                            {% elif object.stage == object.TWO %}
                                <h5>You can see and vote on the descriptions for this object.</h5>
                                <p>Total votes cast so far: {{ object.vote_count }}</p>
                                <a class="btn btn-outline-success btn-lg"
                                   href="{% url 'whatsit:object_view' object.number %}">
                                    See Descriptions/Cast Your Vote
                                </a>
                            {% else %}
                                <h5>See the final results for this object.</h5>
                                <p>You can see who wrote the descriptions and the final tally of the votes.</p>
                                <a class="btn btn-outline-success btn-lg"
                                   href="{% url 'whatsit:object_view' object.number %}">
                                    See Results
                                </a>
                            {% endif %}
                        </div>
                    </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}