{% extends parent_template|default:"base.html" %}
{% load static %}
{% load recipes_extras %}

{% block content %}
    <div class="card col-md-10 mx-md-auto mb-3 px-0 border-success">
        <h2 class="card-header bg-success text-white">Recipe Quiz {{ quiz.quiz_number }}: {{ quiz.title }}</h2>
        <div class="info-box m-3 h5 text-success">
            <p class="card-title">
                Here are the recipes to match to each of the following sets of ingredients:
            </p>
            {% for name in recipe_names %}
                <p class="card-title text-center">
                    {{ name }}
                </p>
            {% endfor %}
            <p class="card-title">
                In the selection boxes below, select which or these recipes you think goes with each set of ingredients.
            </p>
        </div>
        <hr>
        <div class="card-body">
            <form action="{% url 'recipes:quiz_page' quiz.quiz_number %}" method="post">
                {% csrf_token %}
                {% if error %}
                    <div class="text-danger">
                        <p><strong>{{ error }}</strong></p>
                    </div>
                {% endif %}
                {% for recipe in recipes %}
                    <div class="row justify-content-center">
                        <div class="col preserve-whitespace
                            card-text text-center text-success">{{ recipe.ingredients }}</div>
                        <select class="col form-control form-control-lg text-success" name="{{ recipe.name }}">
                            <optgroup class="recipe-option">
                                <option></option>
                                {% for name in recipe_names %}
                                    {% if guesses %}
                                        {% if guesses|recipe_name:recipe == name %}
                                            <option class="text-success" value="{{ name }}" selected>{{ name }}</option>
                                        {% else %}
                                            <option class="text-success" value="{{ name }}">{{ name }}</option>
                                        {% endif %}
                                    {% else %}
                                        <option class="text-success" value="{{ name }}">{{ name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                    <hr>
                {% endfor %}
                <div class="row justify-content-center">
                    <input class="btn btn-outline-success btn-lg mt-3" type="submit" value="Submit"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
