{% extends parent_template|default:"base.html" %}
{% load static %}

{% block content %}
    <div class="card col-md-10 mx-md-auto mb-3 px-0 border-success">
        <h2 class="card-header bg-success text-white">Recipe Game</h2>
        <div class="info-box m-3 h5 text-success">
            <p class="card-title">
                Each quiz will consist of an alphabetized set of ingredient lists from a number of different recipes.
                Your job is to select the correct recipe for each ingredient list. Watch out though, I leave certain
                ingredients off the list if their presence would be a dead giveaway. For instance, a recipe for
                something called "Strawberry Flambeau," will not have "Strawberries" listed in its ingredient list since
                that would make the correct choice a little obvious.
            </p>
            <p class="card-title">
                Click on the "Take Quiz" button if it appears below or the "See My Results" button if you have already
                taken at least one quiz.
            </p>
        </div>
        <hr>
        <div class="col-md-10 mx-md-auto">
            <div class="row justify-content-center">
                <h2 class="mx-auto text-success">Player Rankings</h2>
            </div>
            {% if stats %}
                {% for stat in stats %}
                    {% if stat.type == "heading" %}
                        <hr>
                        <div class="row justify-content-center">
                            <h3 class="text-success">{{ stat.value }}</h3>
                        </div>
                    {% else %}
                        <div class="row justify-content-center">
                            <h4 class="text-success">{{ stat.value.name }}:  {{ stat.value.percent }}</h4>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="text-success">No rankings yet available.</p>
            {% endif %}
            </div>
            <hr>
            <div class="col-md-10 mx-md-auto">
                <div class="row justify-content-around mb-3">
                {% if next_quiz %}
                    <a class="btn btn-outline-success text-center"
                       href="{% url 'recipes:quiz_page' next_quiz %}">Take Quiz</a>
                {% endif %}
                {% if pages_done > 0 %}
                    <a class="btn btn-outline-success text-center"
                       href="{% url 'recipes:quiz_results' 1 %}">See My Results</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}