{% extends parent_template|default:"gift/base_gift_detail.html" %}
{% load static %}

{% block gift-detail-page-specific-content %}
    <h5 class="card-title">Edit or Delete Your Remark</h5>
    <p class="card-text">
        To edit your remark, enter the new text in the entry box below and click the 'Save Changes' button.
        To delete it click the 'Delete...' button and confirm the deletion on the page that appears. To
        change nothing and return to the previous page simply click the 'Cancel' button.
    </p>
    <form action="{% url 'gift:edit_comment' gift.gift_number selected_comment.pk %}" method="post">
        {% csrf_token %}
        <textarea class="col mb-3" id="comment" name="comment_text">{{ selected_comment.comment }}</textarea>
        <div class="row no-gutters">
            <button class="btn btn-outline-success col-md-4" type="submit">Save Changes</button>
            {% if next_url %}
                <a class="btn btn-outline-success col-md-4"
                   href="{% url 'gift:delete_comment' gift.gift_number selected_comment.pk %}?next={{ next_url }}">
                    Delete...
                </a>
                <a class="btn btn-outline-success col-md-4" href="{{ next_url }}">Cancel</a>
            {% else %}
                <a class="btn btn-outline-success col-md-4"
                   href="{% url 'gift:delete_comment' gift.gift_number selected_comment.pk %}">
                    Delete...
                </a>
                <a class="btn btn-outline-success col-md-4" href="{% url 'gift:home' %}">Cancel</a>
            {% endif %}
        </div>
    </form>
{% endblock %}